---
layout: default
data_layer_enabled: true
---
{% include gtm_product.js %}

<script>
	window.dataLayer = window.dataLayer || [];
	dataLayer.push({
		'event': 'productDetailView',
		'productId': '{{ page.sku }}',
		'productName': '{{ page.name }}',
		'productDescription': '{{ page.description_markdown | strip_newlines | escape }}',
		'productPrice': '{{ page.price }}',
		'productStock': '{{ page.stock }}',
		'productSizes': {{ page.sizes | jsonify }},
  		'productStyles': {{ page.styles | jsonify }},
		'productUrl': '{{ page.permalink }}'
	});
</script>
	

<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-container">
				{% include product-styles.html product=page %}
				<div class="product-details" id="add">
					<h3>{{ page.name }}</h3>
					{{ page.description_markdown | markdownify }}

					<h4>${{ page.price }}</h4>
					<div class="button">{% include snipcart-button.html product=page %}</div>
				</div>
			</div>
		</div>
	</section>
</div>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
